<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
</head>
<body>
	<% if(!isAuthenticated) { %>
		<h2>If you are not a registered user then register here.</h2>
		<a href="/register">Please Register Here</a>
		
		<br />
		<h2>If you are a registered user then login herer.</h2>
		<a href="/login">Log In Here</a>
	<% } else {%>
		Hello, <%= user.name %>!
	<% } %>
</body>
</html>