<!DOCTYPE html>
<html>
<head>
	<title>Log In Here</title>
</head>
<body>
	<form action="" method="post">
		<input type="text" name="Username" placeholder="Username"></input>
		<input type="password" name="Password" placeholder="Password"></input>
		<input type="submit" value="Log In">
	</form>
</body>
</html>