<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1>Registration Form</h1>
	<form action="" method="post">
		<input type="text" name="firstname" placeholder="First Name"></input><br />
		<input type="text" name="lastname" placeholder="Last Name"></input><br />
		<input type="text" name="username" placeholder="Username"></input><br />
		<input type="password" name="password" placeholder="Password"></input><br />
		<input type="submit" value="Register">
	</form>

</body>
</html>