    <nav class="navbar navbar-fixed-top" role="navigation">
        <div class="container col-md-6 col-md-offset-3 log-in-header">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="pull-left"><img src="img/sc.png" id="spartan-logo"></a>
            </div>
            <!-- /.navbar-collapse -->

            <div class="product-search pull-right">
                <form class="navbar-form" role="login" ng-submit="signin()">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="search" ng-model="search">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit">search</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
        <!-- /.container -->
    </nav>


            